/* Set up the background and fonts */

body {
    background-color: #002233;
    font-family: Arial, sans-serif;
    color: white;
}
  
  /* Center the main container, and set its size */
  
#main-container {
    margin: auto;
    width: 1000px;
    height: 1000px;
    border-radius: 10px;
    background-color: #112233;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
  
  /* Style the score and card containers */
  
#score-container {
    display: flex;
    padding: 10px;
    justify-content: center;
}

#score-container div {
    padding: 20px;
}

/* Style the message display */

#message-display {
    font-size: 24px;
    text-align: center;
    margin: 20px;
}

/* Style the player one card */
#p1-current {
    border: 5px solid #c70000;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: slideInLeft 1s ease forwards;
}

#p1-current h2 {
    margin-top: 0;
    font-size: 28px;
    text-align: center;
    color: #c70000;
}

#p1-current img, #p2-current img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    height: 50%;
    width: 100%;
}

/* Style the player two card */
#p2-current {
    border: 5px solid #00aeef;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: slideInRight 1s ease forwards;
}

#p2-current h2 {
    margin-top: 0;
    font-size: 28px;
    text-align: center;
    color: #00aeef;
}

#p1-current, #p2-current {
    width: 400px;
    height: 500px;
    margin: 0 10px;
}

#top-trumps-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    justify-content: space-between;
}

/* Style the button container */
#button-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Style the buttons */
button {
    height: 50px;
    width: 100px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #c70000;
    box-shadow: 0 0 10px rgba(199, 0, 0, 0.5);
}

button:focus {
    outline: none;
}

/* Animations */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}