body {
    margin: 0; 
    padding: 0;
}

#player-scores {
    display: flex;
    justify-content: space-evenly;
} 

#p1-score {
    padding: 0px;
}

#p2-score {
    padding: 0px;
}

#card-container{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
} 

#p1-current {
    display: flex;
    float: left;
    justify-content: space-evenly;
    width: 300px;
    overflow: hidden;
    flex-direction: column;
    padding: 15px;
    margin: 0;
    padding-left: 120px;
}

#p2-current {
    display: flex;
    float: right;
    justify-content: space-evenly;
    width: 300px;
    overflow: hidden;
    flex-direction: column;
    padding: 15px;
    margin: 0;
    padding-right: 120px;
}

button {
    width: 85px; 
    height: 50px;
    text-align: center;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0px;
    overflow: hidden;
}

h2 {
    height: 30px;
}

#reset-btn{
    display: none;
} 

#cpu-card-pic { 
    height: 200px; 
} 

#p1-card-pic { 
    height: 200px;  
} 

#bottom-container { 
    position: absolute;
    bottom: 0;
} 

#stat-btns {
    padding-left: 120px;
    padding-bottom: 200px;
}